/bin/
/Target/
*test*.properties
.classpath
.project
/*out*/*.*
.settings/*
.vscode/*
denodo_local*.properties
denodo_server*.properties
test_libs/*
test*.cmd
packaged/Denodo-Custom-Scanner-*.zip
Denodo Custom Scanner v*.pdf
